// nextflow.config
/*
singularity {
    enabled = true
    autoMounts = true
}
*/

// using Apptainer

apptainer {
    enabled = true
    autoMounts = true
}

process {
    container = '/scratch/gent/491/vsc49179/nextflow-project/modules/envs/r-plotting.sif' // Replace with the actual path to your SIF file
}


